@import "../css/reset.css";
@import "../css/font.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ---------------------------------------- */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
[class*="container"] {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1300px;
}
/* ------------------------------------------- */
/* ------------------------------------------- */
.main {
  flex: 1 1 auto;
}
/* ------------------------------------------- */
/* -------------------Header------------------ */
.header {
  position: absolute;
  width: 100%;
}
.header .header__container {
  display: flex;
  align-items: center;
  height: 109px;
  padding: 0;
}
.header .header__container .header__logo {
  height: 35px;
  width: 119px;
  margin-right: 37.59px;
}
.header .header__container .header__socials {
  display: flex;
  align-items: center;
  margin-right: 260px;
}
.header .header__container .header__socials > *:not(:last-child) {
  margin-right: 10px;
}
.header .header__container .header__socials .social-icon {
  display: block;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
}
.header .header__container .header__nav .nav__list {
  display: flex;
}
.header .header__container .header__nav .nav__list .nav__item:nth-child(1) {
  margin-right: 47px;
}
.header .header__container .header__nav .nav__list .nav__item:nth-child(2) {
  margin-right: 48px;
}
.header .header__container .header__nav .nav__list .nav__item:nth-child(3) {
  margin-right: 60px;
}
.header .header__container .header__nav .nav__list .nav__item:nth-child(4) {
  margin-right: 39px;
}
.header .header__container .header__nav .nav__list .nav__item:nth-child(5) {
  margin-right: 55px;
}
.header .header__container .header__nav .nav__list .nav__item .nav__link {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 25.5px;
  color: #f6f8fc;
  letter-spacing: 0.17px;
}
.header .header__container .header__nav .nav__list .nav__item .nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFCA42;
  transform: scale(0);
  transition: all 0.5s;
}
.header .header__container .header__nav .nav__list .nav__item .nav__link:hover {
  transition: color 0.5s ease-in 0s;
  color: #FFCA42;
}
.header .header__container .header__nav .nav__list .nav__item .nav__link:hover::after {
  transition: transform 0.5s ease-in 0.2s;
  transform: scale(1);
}
.header .header__container .header__button {
  width: 222px;
  height: 66px;
  line-height: 66px;
  background: #ffca42;
  border: 2px solid #FFCA42;
  text-align: center;
}
.header .header__container .header__button .btn-link {
  font-size: 19px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0.56px;
  font-family: 'Cardo', serif;
  padding: 18px 52px;
}
/* -------------------Header------------------ */
/* -------------------Welcome----------------- */
.main__welcome {
  background: #1B3764;
  padding: 200px 0 100px 0;
}
.main__welcome .welcome__container {
  display: flex;
  align-items: flex-start;
}
.main__welcome .welcome__container .welcome__intro {
  flex: 1 1 50%;
  padding-top: 160px;
  padding-left: 7px;
}
.main__welcome .welcome__container .welcome__intro .intro__text .intro__text-subTitle {
  font-family: 'Cardo', serif;
  text-align: left;
  font-size: 21px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.main__welcome .welcome__container .welcome__intro .intro__text .intro__text-subTitle span {
  display: inline-block;
  width: 35px;
  height: 2px;
  background: #FFCA42;
  margin-right: 14px;
}
.main__welcome .welcome__container .welcome__intro .intro__text .intro__text-title {
  font-family: 'Cardo', serif;
  text-align: left;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  letter-spacing: 1.29px;
  margin-bottom: 24px;
}
.main__welcome .welcome__container .welcome__intro .intro__text .intro__text-text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #b4c7e7;
  letter-spacing: 0em;
  max-width: 562px;
}
.main__welcome .welcome__container .welcome__intro .intro__buttons {
  margin-top: 42px;
  margin-bottom: 47px;
  display: flex;
  align-items: center;
}
.main__welcome .welcome__container .welcome__intro .intro__buttons > *:not(:last-child) {
  margin-right: 51px;
}
.main__welcome .welcome__container .welcome__intro .intro__buttons .button__left {
  width: 222px;
  height: 66px;
  line-height: 66px;
  background: #ffca42;
  border: 2px solid #FFCA42;
  text-align: center;
}
.main__welcome .welcome__container .welcome__intro .intro__buttons .button__left .btn-link {
  font-size: 19px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0.56px;
  font-family: 'Cardo', serif;
  padding: 18px 52px;
}
.main__welcome .welcome__container .welcome__intro .intro__buttons .button__right .btn-link {
  display: inline-block;
  width: 152px;
  font-family: 'Cardo', serif;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.38px;
  border-bottom: 1px solid #FFFFFF;
}
.main__welcome .welcome__container .welcome__intro .intro__para {
  display: flex;
  align-items: center;
}
.main__welcome .welcome__container .welcome__intro .intro__para > *:not(:last-child) {
  margin-right: 72px;
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item {
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 0.48px;
  position: relative;
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(1)::before,
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(2)::before,
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(3)::before {
  position: absolute;
  bottom: -38px;
  left: 25px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #b4c7e7;
  letter-spacing: 0em;
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(1)::before {
  content: "250pages";
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(2)::before {
  content: "10 Hours";
  font-family: 'Inter', sans-serif;
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item:nth-child(3)::before {
  content: "4.5/5 (305 ratings)";
  width: 156px;
}
.main__welcome .welcome__container .welcome__intro .intro__para .para__item span {
  display: inline-block;
  background: #FFCA42;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}
.main__welcome .welcome__container .welcome__decor {
  flex: 1 1 50%;
  padding-left: 36px;
}
/* -------------------Welcome----------------- */
/* -------------------Book-------------------- */
.main__books {
  padding: 110px 0 150px 0;
}
.main__books .book__container .book__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 88px;
}
.main__books .book__container .book__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__books .book__container .book__content {
  display: flex;
  align-items: flex-start;
}
.main__books .book__container .book__content > *:not(:first-child) {
  padding-left: 10px;
}
.main__books .book__container .book__content .connect__book-item {
  flex: 1 1 50%;
  display: flex;
  gap: 17px;
}
.main__books .book__container .book__content .connect__book-item .book__item-decor {
  margin-left: -10px;
}
.main__books .book__container .book__content .connect__book-item .book__item-decor img {
  max-width: 100%;
  max-height: 100%;
}
.main__books .book__container .book__content .connect__book-item .book__item-body {
  padding: 48px 0 27px 0;
  font-family: 'Cardo', serif;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-title {
  font-size: 32px;
  line-height: 38px;
  color: #1b3764;
  letter-spacing: 0.32px;
  margin-bottom: 7px;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-price {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  line-height: 33px;
  color: #ffca42;
  letter-spacing: 0em;
  margin-bottom: 17px;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-subTitle {
  font-size: 24px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
  margin-bottom: 13px;
  max-width: 287px;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-point {
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-point span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  background: #FFCA42;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-link {
  height: 66px;
  width: 206px;
  line-height: 66px;
  border: 2px solid #FFCA42;
  text-align: center;
}
.main__books .book__container .book__content .connect__book-item .book__item-body .book__item-link a {
  font-size: 19px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0.37px;
}
/* -------------------Book-------------------- */
/* -------------------About------------------- */
.main__about {
  background: #F5F8FC;
  padding: 160px 0 190px 0;
}
.main__about .about__container {
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.main__about .about__container .about__decor {
  flex: 1 1 50%;
  justify-content: flex-start;
}
.main__about .about__container .about__decor .decor__border {
  height: 640px;
  width: 545px;
  border: 10px solid #FFCA42;
  position: relative;
}
.main__about .about__container .about__decor .decor__border img {
  position: absolute;
  top: -40px;
  left: -40px;
}
.main__about .about__container .about__author {
  flex: 1 1 50%;
  padding-left: 45px;
  padding-top: 20px;
}
.main__about .about__container .about__author .author__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  text-align: left;
  margin-bottom: 59px;
}
.main__about .about__container .about__author .author__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 4%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__about .about__container .about__author .author__subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 34px;
  color: #969aa0;
  letter-spacing: 0em;
  width: 559px;
  margin-bottom: 32px;
}
.main__about .about__container .about__author .author__achievement {
  width: 605px;
  height: 98px;
  display: flex;
}
.main__about .about__container .about__author .author__achievement > *:not(:last-child) {
  margin-right: 38px;
}
.main__about .about__container .about__author .author__achievement .achievement__item {
  flex: 1 1 calc(8%);
}
.main__about .about__container .about__author .author__achievement .achievement__item:nth-child(1) {
  margin-left: 5px;
  padding-left: 10px;
  border-right: 1px solid #FFCA42;
}
.main__about .about__container .about__author .author__achievement .achievement__item:nth-child(2) {
  border-right: 1px solid #FFCA42;
}
.main__about .about__container .about__author .author__achievement .achievement__item .achievement__item-title {
  font-family: 'Cardo', serif;
  font-size: 54px;
  line-height: 77px;
  color: #1b3764;
  letter-spacing: 0em;
}
.main__about .about__container .about__author .author__achievement .achievement__item .achievement__item-subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #969aa0;
  letter-spacing: 0em;
}
.main__about .about__container .about__author .author__contact {
  background: #1B3764;
  width: 484px;
  height: 161px;
  margin-top: 55px;
  padding: 15px 20px;
  display: flex;
}
.main__about .about__container .about__author .author__contact .contact__qr {
  margin-right: 40px;
}
.main__about .about__container .about__author .author__contact .contact__info {
  padding-top: 22px;
}
.main__about .about__container .about__author .author__contact .contact__info .info-name {
  font-family: 'Cardo', serif;
  font-size: 22px;
  line-height: 26px;
  color: #ffca42;
  letter-spacing: 0em;
  margin-bottom: 12px;
}
.main__about .about__container .about__author .author__contact .contact__info a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #b4c7e7;
  letter-spacing: 0.19px;
  margin-bottom: 5px;
  display: block;
}
.main__about .about__container .about__author .author__contact .contact__info a span {
  display: inline-block;
  margin-left: 10px;
}
/* -------------------About-------------------- */
/* -------------------Trust------------------- */
.main__trust {
  padding: 80px 0;
}
.main__trust .trust__container .trust__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 76px;
}
.main__trust .trust__container .trust__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__trust .trust__container .trust__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 39px;
}
.main__trust .trust__container .trust__content .trust__item {
  flex: 0 1 313px;
  text-align: center;
}
.main__trust .trust__container .trust__content .trust__item > *:not(:last-child) {
  margin-bottom: 19px;
}
.main__trust .trust__container .trust__content .trust__item .trust__item-title {
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
}
.main__trust .trust__container .trust__content .trust__item .trust__item-subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 29px;
  color: #969aa0;
  letter-spacing: 0em;
}
/* -------------------Trust-------------------- */
/* -------------------getBook------------------- */
.main__getBook {
  padding: 190px 0 135px 0;
  background: #1B3764;
}
.main__getBook .getBook__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: relative;
}
.main__getBook .getBook__container::before {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../../img/main/getBookDecor.png");
  transform: translateY(-20%);
}
.main__getBook .getBook__container .getBook__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  color: #fff;
  margin-bottom: 54px;
  font-size: 45px;
}
.main__getBook .getBook__container .getBook__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 6%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__getBook .getBook__container .getBook_subTitle {
  font-size: 19px;
  line-height: 29px;
  color: #b4c7e7;
  letter-spacing: 0em;
  font-family: 'Inter', sans-serif;
  max-width: 539px;
  margin-bottom: 27px;
}
.main__getBook .getBook__container .getBook-link {
  width: 222px;
  height: 66px;
  line-height: 66px;
  background: #1b3764;
  border: 2px solid #FFCA42;
  text-align: center;
}
.main__getBook .getBook__container .getBook-link .btn-link {
  font-size: 19px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 0.56px;
  font-family: 'Cardo', serif;
  padding: 18px 52px;
}
/* -------------------getBook-------------------- */
/* -------------------Learn------------------- */
.main__learn {
  padding: 136px 0 188px 0;
}
.main__learn .learn__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 116px;
}
.main__learn .learn__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__learn .learn__container {
  padding: 0;
  display: flex;
}
.main__learn .learn__container .learn__content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
}
.main__learn .learn__container .learn__content > *:not( :nth-child(2n)) {
  margin-right: 30px;
}
.main__learn .learn__container .learn__content .learn__item {
  flex: 1 1 303px;
  height: 272px;
  width: 303px;
  background: #F4F8FF;
  padding-left: 25px;
  padding-top: 25px;
  text-align: center;
}
.main__learn .learn__container .learn__content .learn__item:nth-child(1) .learn__item-subTitle {
  max-width: 229px;
}
.main__learn .learn__container .learn__content .learn__item:nth-child(2) .learn__item-subTitle {
  max-width: 236px;
}
.main__learn .learn__container .learn__content .learn__item:nth-child(3) .learn__item-subTitle {
  max-width: 216px;
}
.main__learn .learn__container .learn__content .learn__item:nth-child(4) .learn__item-subTitle {
  max-width: 223px;
}
.main__learn .learn__container .learn__content .learn__item .learn__item-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFCA42;
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  font-family: 'Cardo', serif;
}
.main__learn .learn__container .learn__content .learn__item .learn__item-subTitle {
  font-size: 24px;
  line-height: 34px;
  color: #1b3764;
  letter-spacing: 0em;
  font-family: 'Cardo', serif;
  text-align: left;
}
.main__learn .learn__container .learn__decor {
  flex: 0 1 50%;
  padding-left: 90px;
}
.main__learn .learn__container .learn__decor .decor__learn {
  height: 652px;
  width: 555px;
  border: 10px solid #FFCA42;
  position: relative;
}
.main__learn .learn__container .learn__decor .decor__learn::before {
  position: absolute;
  top: -30px;
  left: -25px;
  content: url("../../img/main/decorLearn.png");
}
/* -------------------Learn-------------------- */
/* -------------------knowledge------------------- */
.main__knowledge {
  background: #F4F8FF;
  padding: 70px 0 130px 0;
}
.main__knowledge .knowledge__container {
  padding: 0;
}
.main__knowledge .knowledge__container .knowledge__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 96px;
}
.main__knowledge .knowledge__container .knowledge__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__knowledge .knowledge__container .knowledge__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item {
  background: #FFFFFF;
  padding: 42px 0 46px 40px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item:nth-child(1) .knowledge__item-subTitle {
  max-width: 533px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item:nth-child(2) .knowledge__item-subTitle {
  max-width: 509px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item:nth-child(3) .knowledge__item-subTitle {
  max-width: 530px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item:nth-child(4) .knowledge__item-subTitle {
  max-width: 536px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-title {
  font-size: 24px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
  font-family: 'Cardo', serif;
  margin-bottom: 21px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-subTitle {
  font-size: 19px;
  line-height: 32px;
  color: #969aa0;
  letter-spacing: 0em;
  font-family: 'Inter', sans-serif;
  margin-bottom: 12px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param {
  display: flex;
  align-items: flex-start;
  gap: 45px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-page,
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-length {
  font-size: 22px;
  line-height: 31px;
  color: #1b3764;
  letter-spacing: 0em;
  font-family: 'Cardo', serif;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-page::before,
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-length::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFCA42;
  margin-right: 10px;
}
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-page span,
.main__knowledge .knowledge__container .knowledge__content .knowledge__item .knowledge__item-param .knowledge__item-length span {
  font-size: 17px;
  line-height: 27px;
  color: #969aa0;
  letter-spacing: 0em;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  margin-left: 10px;
}
.main__knowledge .knowledge__container .knowledge__button {
  width: 222px;
  height: 66px;
  line-height: 66px;
  background: #ffca42;
  border: 2px solid #FFCA42;
  text-align: center;
  width: 429px;
  margin: 68px auto 0;
}
.main__knowledge .knowledge__container .knowledge__button .btn-link {
  font-size: 19px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0.56px;
  font-family: 'Cardo', serif;
  padding: 18px 52px;
}
.main__knowledge .knowledge__container .knowledge__question {
  max-width: 331px;
  margin: 40px auto 0;
}
.main__knowledge .knowledge__container .knowledge__question .question__text {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #969aa0;
  letter-spacing: 0em;
}
.main__knowledge .knowledge__container .knowledge__question .question__text span {
  font-size: 18px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0.19px;
}
/* -------------------knowledge-------------------- */
/* -------------------Words------------------- */
.main__words .words__container {
  padding: 0;
  display: flex;
}
.main__words .words__container .words__introduce {
  margin-top: 231px;
  flex: 0 0 468px;
  margin-right: 30px;
}
.main__words .words__container .words__introduce-title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  text-align: left;
  max-width: 329px;
  margin-bottom: 59px;
}
.main__words .words__container .words__introduce-title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 5%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__words .words__container .words__introduce-subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 34px;
  color: #969aa0;
  letter-spacing: 0em;
  max-width: 435px;
  margin-bottom: 27px;
}
.main__words .words__container .words__introduce-rating {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.main__words .words__container .words__introduce-rating span {
  margin-left: 10px;
  font-family: 'Cardo', serif;
  font-size: 22px;
  line-height: 26px;
  color: #1b3764;
  letter-spacing: 0em;
}
.main__words .words__container .words__introduce-overall {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
}
.main__words .words__container .words__word {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 292px ;
  gap: 20px;
}
.main__words .words__container .words__word .word__author {
  background: #1B3764;
  height: 292px;
  width: 381px;
  padding: 30px 0 0 35px;
}
.main__words .words__container .words__word .word__author:nth-child(2) {
  margin-top: 153px;
}
.main__words .words__container .words__word .word__author:nth-child(1) > .word__author-subTitle {
  max-width: 290px;
}
.main__words .words__container .words__word .word__author:nth-child(2) > .word__author-subTitle {
  max-width: 300px;
}
.main__words .words__container .words__word .word__author:nth-child(3) > .word__author-subTitle {
  max-width: 303px;
}
.main__words .words__container .words__word .word__author__ava {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__words .words__container .words__word .word__author__ava-name p {
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
.main__words .words__container .words__word .word__author__ava-name img {
  width: 76px;
  height: 13px;
}
.main__words .words__container .words__word .word__author-title {
  font-family: 'Cardo', serif;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  letter-spacing: 0em;
  margin: 20px 0 13px 0;
}
.main__words .words__container .words__word .word__author-subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #b4c7e7;
  letter-spacing: 0em;
}
/* -------------------Words-------------------- */
/* -------------------Articles------------------- */
.main__articles {
  margin-top: 150px;
  background: #F4F8FF;
  padding: 126px 0 150px 0px;
}
.main__articles .articles__container {
  padding: 0;
}
.main__articles .articles__container .articles__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 96px;
}
.main__articles .articles__container .articles__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.main__articles .articles__container .articles__content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.main__articles .articles__container .articles__content .articles__resources {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 622px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(1) > .resources__title {
  max-width: 318px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(2) > .resources__title {
  max-width: 270px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(3) > .resources__title {
  max-width: 325px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(1) > .resources__subTitle {
  max-width: 359px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(2) > .resources__subTitle {
  max-width: 358px;
}
.main__articles .articles__container .articles__content .articles__resources:nth-child(3) > .resources__subTitle {
  max-width: 323px;
}
.main__articles .articles__container .articles__content .articles__resources > *:not(:first-child) {
  padding: 0 0 0 20px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__img {
  width: 420px;
  height: 350px;
  margin-bottom: 25px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__img img {
  max-width: 100%;
}
.main__articles .articles__container .articles__content .articles__resources .resources__title {
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 34px;
  color: #1b3764;
  letter-spacing: 0.24px;
  margin-bottom: 19px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: #969aa0;
  letter-spacing: 0em;
  margin-bottom: 11px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__link {
  display: flex;
  justify-content: space-between;
}
.main__articles .articles__container .articles__content .articles__resources .resources__link-more {
  font-family: 'Cardo', serif;
  font-size: 19px;
  line-height: 23px;
  color: #1b3764;
  letter-spacing: 0.38px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__link-more:after {
  content: "";
  display: block;
  width: 94px;
  height: 2px;
  background: #1B3764;
  margin-top: 4px;
}
.main__articles .articles__container .articles__content .articles__resources .resources__link-date {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #1b3764;
  letter-spacing: 0em;
  padding-right: 30px;
}
/* -------------------Articles-------------------- */
/* -------------------Update------------------- */
.main__updates {
  padding: 120px 0;
}
.main__updates .updates__container {
  padding: 96px 0 110px 0;
  background: #FFCA42;
  text-align: center;
  border-radius: 5px;
}
.main__updates .updates__container .updates__title {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 42px;
  line-height: 50px;
  color: #1b3764;
  letter-spacing: 0em;
  position: relative;
  margin-bottom: 51px;
}
.main__updates .updates__container .updates__title::before {
  position: absolute;
  content: "";
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background: #1b3764;
}
.main__updates .updates__container .updates__subTitle {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #1b3764;
  letter-spacing: 0em;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 49px;
}
.main__updates .updates__container .updates__subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__updates .updates__container .updates__subscribe [type="text"] {
  width: 656px;
  height: 70px;
  padding: 19px 0 19px 39px;
  border: 1px solid #DCE1E9;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #b4c7e7;
  letter-spacing: 0.18px;
}
.main__updates .updates__container .updates__subscribe [type="submit"] {
  width: 328px;
  height: 70px;
  padding: 19px 0;
  margin-left: 16px;
  border: 2px solid #1B3764;
  background: #1B3764;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
  letter-spacing: 0.18px;
}
/* -------------------Update-------------------- */
/* -------------------Footer-------------------- */
.footer {
  background: #1B3764;
  padding: 92px 0 70px 0;
}
.footer .footer__container {
  padding: 0;
  display: flex;
}
.footer .footer__container .footer__logo {
  margin-right: 85px;
}
.footer .footer__container .footer__logo-social {
  display: flex;
  gap: 10px;
}
.footer .footer__container .footer__logo-social .social-item {
  margin-top: -12px;
  border: 1px solid #FFCA42;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.footer .footer__container [class*="name"] {
  font-family: 'Cardo', serif;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  letter-spacing: 0.38px;
  margin-bottom: 20px;
}
.footer .footer__container .footer__list > *:not(:last-child) {
  margin-bottom: 9px;
}
.footer .footer__container .footer__item {
  padding-left: 40px;
  position: relative;
}
.footer .footer__container .footer__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../../img/footer/threePoint.svg");
}
.footer .footer__container .footer__link {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #b4c7e7;
  letter-spacing: 0.18px;
}
.footer .footer__container .footer__explore {
  margin-right: 102px;
}
.footer .footer__container .footer__utility {
  margin-right: 90px;
}
.footer .footer__container .footer__touch > *:not(:last-child) {
  margin-bottom: 28px;
}
.footer .footer__container .footer__touch-address,
.footer .footer__container .footer__touch-mail,
.footer .footer__container .footer__touch-phone {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #b4c7e7;
  letter-spacing: 0em;
}
.footer .footer__container .footer__touch-address span,
.footer .footer__container .footer__touch-mail span,
.footer .footer__container .footer__touch-phone span {
  align-self: flex-start;
  display: inline-block;
  font-family: 'Cardo', serif;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  letter-spacing: 0.36px;
  width: 81px;
  margin-right: 28px;
}
.footer .footer__container .footer__touch-address p,
.footer .footer__container .footer__touch-mail p,
.footer .footer__container .footer__touch-phone p {
  display: inline-block;
  max-width: 234px;
}
/* -------------------Footer-------------------- */
